<%= render partial: 'layouts/errors', locals:{object: @climb}%>
<%= form_for(@climb) do |f| %>
<div>
    <%= f.label :name %>
    <%= f.text_field :name%>
</div>

<div>
    <%= f.label :grade %>
    <%= f.text_field :grade%>
</div>

<div>
    <%= f.label :description %>
    <%= f.text_field :description %>
</div> 

<p>Please select a location:</p>
<div>
    <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: "Pick one" %>
</div>

<p>or, create a new location!</p>
<%= f.fields_for :location do |l| %>
    <%= l.label :name %>
    <%= l.text_field :name %>
<% end %>
<br />
<%= f.submit %>

<% end %>