<h1>Welcome to the ratings page!</h1>

<% @climbs.each do |c| %>
    <h2><%= c.name %> - <%= c.grade %> </h2>
    <% c.reviews.each do |r| %>
        <h4><%= r.title %> - <%= pluralize(r.stars, "star") %> </h4>
        <p><%= r.content%> </p>
    <% end %>
    <%= link_to "Add Spray", new_climb_review_path(c)%>
<% end %>
