<h1>The Climb:</h1>

<h2><i><%= @climb.name %></i></h2>

<h3>Grade: <%= @climb.grade %></h3>

<p>Description: <%= @climb.description%> </p>


<% if @climb.reviews.present? %>
    <%= link_to "The Spray-down", climb_reviews_path(@climb) %> </br>
    <%= link_to "Add Spray", new_climb_review_path(@climb)%>
<% else %>
    <%= link_to "Add Spray", new_climb_review_path(@climb)%>
<% end %>






