<% if @climb %>
    <h1> Full Spray-down for <i><%= @climb.name %></i>!</h1>
        <h2> Location: <%= @climb.location.name %></h2>
        <% if @reviews.present? %>
            <ul>
            <h3> Reviews: </h3> </br>
            <% @reviews.each do |r| %>
            <li> <h4> - <%= r.title %> - <%= pluralize(r.stars, "star") %> </h4> </li>
            <p> <i><%= r.content %></i> </p>
        <% end %>
            <ul> </br>
            <%= link_to "Add Spray", new_climb_review_path(@climb)%>
        <% else %>
        <p> Be the change. Add the first review. </p>
        <%= link_to "Add Spray", new_climb_review_path(@climb) %>
        <% end %>
 
<% else %>
    <h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  All the Spray! </h1>
       <h2></h2>
       <h2> Reviews: </h2></br>   
            <% @climbs.each do |c| %>  
                <%  if c.reviews.present? %>
                <ul>
                  <% c.reviews.each do |r| %>
                     <li> <h4> <%= link_to r.climb.name, review_path(r) %> - <%= r.title %> - <%= pluralize(r.stars, "star") %> </h4> </li>
                     <p> <i><%= r.content %></i> </p>
                     </br>
                  <% end %>
                </ul>
            <% end %>
    <% end %>
<% end %>

