<% if @climb %>
    <h1> The full spray-down for <%= @climb.name %>!</h1>
        <h2> Location: <%= @climb.location.name %></h2>
        <% if @reviews.present? %>
            <ul>
            <h3> Reviews: </h3> 
            <% @reviews.each do |r| %>
            <li> <h4> <%= r.title %> - <%= pluralize(r.stars, "star") %> </h4> </li>
            <p> <%= r.content %> </p>
        <% end %>
            <ul>
        <% else %>
        <p> Be the change. Add the first review. </p>
        <%= link_to "Add Spray", new_climb_review_path(@climb) %>
        <% end %>
 
<% else %>
    <h1> All the spray! </h1>
       <h3> Reviews: </h3>   
            <% @climbs.each do |c| %>
                <%  if c.reviews.present? %>
                <ul>
                  <% c.reviews.each do |r| %>
                     <li> <h4> <%= link_to r.climb.name, climb_path(c) %> - <%= r.title %> - <%= pluralize(r.stars, "star") %> </h4> </li>
                     <p> <%= r.content %> </p>
                  <% end %>
                </ul>
            <% end %>
    <% end %>
<% end %>

