<%= render partial: 'layouts/errors', locals:{object: @review}%>
<% if @climb %>
    <h1> Add spray for <%=@climb.location.name%> - <%= @climb.name %>!</h1>
<% else %>
    <h1> Add spray! </h1>
<% end %>

<%= form_for(@review) do |f| %>
<% if params[:climb_id] %>
    <%= f.hidden_field :climb_id %>
<% else %>
    <div>
        <%= f.label :climb_id, "Select a climb!" %>
        <%= f.collection_select :climb_id, Climb.all, :id, :name, include_blank: true %>
    </div>
    <% end %>
<div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:1, max:5 %>
</div>

<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>

<div>
    <%= f.label :content %>
    <%= f.text_area :content %>
</div>

<%= f.submit %>

<% end %>